//  Destination: Utils/ArrayUtils.java

package current.Utils;

import battlecode.common.*;

public class {{ className }} {
    public static char[] char3600(){ // 60*60
        return "{%for i in range(3600)%}\u0000{%endfor%}".toCharArray();
    }
    public static char[] char3721(){ // 61*61
        return "{%for i in range(3721)%}\u0000{%endfor%}".toCharArray();
    }
}
