package v008_saketh.Communication;

{% set scoreNotAlreadyViewed = 2000 * 1000 -%}

import v008_saketh.States.Result;
import battlecode.common.*;
import v008_saketh.Robots.Robot;

import static v008_saketh.States.Code.CANT;
import static v008_saketh.States.Code.OK;

//  Destination: Communication/MessageMicro.java

public class {{ className }} {
    {% set DANGER_OUT_OF_ENEMY_VIEW = -1 -%}
    {% set DANGER_IN_ENEMY_VIEW = 1 -%}
    {% set DANGER_IN_REACH = 15 -%}
    {% set DANGER_IN_REACH_WITH_MOVEMENT = 10 -%}

    {% set ATTACK_MALUS_MOVEMENT =  1 -%}
    {% set ATTACK_BONUS_CANT_SEE =  10 -%}

    
    /*
    // We can also encode x/y with relative position
    // With distance max of 8 (16 = -7 / +8) we have 4 bytes
    //
    //                                          30v   24v     16v       8v      0v
    // Messages types (long)                    0b0000_001111111122_222222_33333333; // 30 bits = 1 per squeak, 3 array size
    public static final int TYPE_MICRO        = 0b0111_000000000000_000000_00000000;
    public static final int RELATIVE_POSITION = 0b0000_000000000000_000000_11111111;
    //                                                |  target id |  dir |yyyyxxxx; // Bits 0-7 : 8 bits = log2(16*16)
    public static final int MASK_DIR_TARGET   = 0b0000_000000000000_000111_00000000;
    public static final int MASK_DIR_SENDER   = 0b0000_000000000000_111000_00000000;
    public static final int MASK_TARGET_ID    = 0b0000_111111111111_000000_00000000;
    */

    public static int encodeRelativePosition(MapLocation myLoc, MapLocation targetLoc){
        // x [-8, 7] : 4 bits  -> Encoded as x + 8

        return switch(targetLoc.translate(-myLoc.x, -myLoc.y).hashCode()){
            {% for cell in cellsSquareRadius(8) -%}
            {% if cell[0] != 8 and cell[1] != 8 -%}
            case {{ battleCodehash(cell) }} -> {{ encodeForMicro(cell) }} ; // Cell {{cell}}
            {% endif -%}
            {% endfor -%}

            default -> {
                System.out.println("WARN: Encode relative position not found for cell " + targetLoc );
                yield -1;
            }
        };
    }

    public static MapLocation decodeRelativeLocation(MapLocation senderLoc, int msg){
        return switch(msg & 0b0000_000000000000_000000_11111111){ // Mask relative position
            {% for cell in cellsSquareRadius(8) -%}
            {% if cell[0] != 8 and cell[1] != 8 -%}
            case {{ encodeForMicro(cell) }} -> senderLoc.translate({{ cell[0] }}, {{ cell[1] }});
            {% endif -%}
            {% endfor -%}

            default -> {
                System.out.println("WARN: Decode relative position not found for cell " + msg );
                yield null;
            }
        };
    }
}
